<div class="flexslider" style="border:0px !important; background: transparent !important;">
    <ul class="slides" style="display:block">
        <li><img src="/images/coupon.jpg" alt="优惠券"></li>
        <li><img src="/images/credit_card.jpg" alt="信用卡"></li>
        <li><img src="/images/loan.jpg" alt="贷款"></li>
    </ul>
</div>